<header>
  {{>head}}
   <center>
    <h3 align="Center"> Header by using Partials </h3>
   <table class="table table-responsive table-sm table-bordered table-striped">
     <tr color="table-primary">
      <th align="Center"> Name </th>
      <th align="Center"> Reg No </th>
     </tr>
     <tr align="Center">
      <td> M Sudhir </td>
      <td> 11708311 </td>
     </tr>
    <table>
   </center>

</header>